h1 {
	background-color: grey;
}

h1, div {
	font-weight: bold;
}

div > p {
    border: 1px solid green;
}

div + p {
	border: 1px solid pink;
}

.intro {
    background-color: aquamarine;
}

p.hometown { 
    background: blue;
}

p.center {
    text-align: center;
    color: red;
}

p.large {
    font-size: 300%;
}

.link {
	display: inline-block;
	text-decoration: none;
}

.link:hover {
	background-color: grey;
	text-decoration: underline;
}
