body, html {
	height: 100%;
}

.main-content {
	background-color: grey;
	max-width: 900px;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 50px;
}

.main-content-wrapper {
background-color: blue;
max-width: 100%;
height: 400px;
margin: 0 auto;
}

.title-small {
	background-color: rgba(100, 100, 255, .5)
} 

.color-opacity50 {
	/*opacity: .5;*/
}

.holder-box-special {
	font-size: 0;
}

.holder-box {
	border: 3px solid red;
	width: 50px;
	height: 50px;
}

.wrapper-img	{
	max-width: 100%;
	max-height: 100%;
}

.holder-box-first {
	display: inline-block;
	background-color: tomato;
	width: 100px;
	height: 100px;
}

.holder-box-second {
	display: inline-block;
	background-color: purple;
	width: calc(100% - 100px);
	height: 100px;
}

.holder-list {
	border: 5px solid aquamarine;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.list-flex {
	display: flex;
	/*flex-direction: column;*/
	flex-wrap: wrap;
	padding: 20px;
}

.list-flex-li {
	background-color: green;
	padding: 10px 20px;
	flex: 1;
}


.list-flex-li-a {
	text-decoration: none;
	display: block;
	color: pink;
	border: 1px solid black;
}

.list-flex-li-a:hover {
	text-decoration: underline;
	background-color: yellow;
	color: green;
}
